.gradle
.DS_Store
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
.idea/*
.reports/*
*/build/*
*.iml
*.hprof
/.app/class_files.txt
/.app/manifest-merger-production-release-report.txt
/.app/mapping.txt
/.app/proguard-project.txt
/.app/seeds.txt
/.app/unused.txt
